<header class="site-header">
  <div class="header-banner"></div>

  <div class="nav-bar">
    <a href="/" class="brand-logo">
      <img src="/assets/images/ctbl-icon.png" alt="CatnBloom" class="icon-70">
    </a>
    <ul class="nav-right">
      <li><a href="/cottagecore-cats/">Cottagecore Cats</a></li>
      <li><a href="/witchy-cats-plants/">Witchy Cats Plants</a></li>
      <li><a href="/seasons/">Seasonal Sets</a></li>
      <li><a href="/about/">Our Story</a></li>
    </ul>
  </div>
</header>
